@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }
}

/* styles/globals.css or any global stylesheet */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #e5e7eb !important; /* Tailwind gray-200 */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #1d4ed8 !important; /* Tailwind blue-600 */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Adjust width here */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F8A62B; /* Adjust thumb color */
  /* border-radius: 10px; */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0E096B; /* Adjust track color */
}

